<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" debug="true" scanPeriod="3 seconds">
	<contextName>layouts</contextName>
    <statusListener 
          class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <!-- %relative%thread%mdc%level%logger%msg -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
	      <layout class="ch.qos.logback.classic.html.HTMLLayout">
	        <pattern>%-5level%logger{32}%msg</pattern>
	      </layout>
	    </encoder>
	    <file>d:/logs/thlayouts.html</file>
	</appender>
  
  
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	   <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder 
         http://logback.qos.ch/manual/layouts.html#coloring -->
          <!-- On Windows machines setting withJansi to true enables ANSI
         color code interpretation by the Jansi library. This requires
         org.fusesource.jansi:jansi:1.8 on the class path.  Note that
         Unix-based operating systems such as Linux and Mac OS X
         support ANSI color codes by default. -->
        
        <!-- <withJansi>true</withJansi>
    
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{32}) - %msg%n
			</pattern>
		</encoder> -->
		
		<encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
            </pattern>
        </encoder>
        
	</appender>

	<jmxConfigurator />
	<!-- <logger name="com.pos" level="ALL" /> -->
	
	<logger name="com.pos" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="com.pos" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="ch.qos.logback" level="ALL" additivity="false" />
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>
